<!DOCTYPE html>
<html>
<head>
    <title>MP4 to MP3 Converter</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/navbar_style.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
    </div>
    <br>
    <div class="container">
        <h1>MP4 to MP3 Converter</h1>
        <form action="/convert" method="post" enctype="multipart/form-data">
            <label for="file">Select an MP4 file:</label>
            <br>
            <input type="file" id="file" name="file" accept=".mp4" required>
            <br>
            <label for="new_name">New MP3 file name (optional):</label>
            <br>
            <input type="text" id="new_name" name="new_name" maxlength="255">
            <br>
            <input type="submit" value="Convert">
        </form>
    </div>
    <br>
    <div class="container" id="youtube_div">
        <label for="youtube_link">Paste a YouTube link:</label>
        <br>
        <input type="url" id="youtube_link" name="youtube_link" placeholder="https://www.youtube.com/watch?v=...">
        <button id="modify_link">Modify</button>
    </div>
</body>
</html>
